<h3>Magic Ball</h3>

<!-- Magic 8 ball takes user's questions from the the URL as params and returns a positive or negative answer. -->

<form action="/magicball/answer" method="POST">
  <label>Question: </label>
  <input type="text" name="user_question">
  <input type="submit" value="submit">
</form>
