<h3>Rock Paper Scissor</h3>

<form action="/rockpaperscissors/result" method="POST">
  <input type="submit" value="Rock" name="user_choice2">
  <input type="submit" value="Paper" name="user_choice2">
  <input type="submit" value="Scissors" name="user_choice2">
</form>
