<!-- Users click a number between 1 and 10. The controller validates the guess and renders the win or lose view. -->

<form action="/secretnumber/result" method="POST">
  <input type="submit" value="1" name="user_choice">
  <input type="submit" value="2" name="user_choice">
  <input type="submit" value="3" name="user_choice">
  <input type="submit" value="4" name="user_choice">
  <input type="submit" value="5" name="user_choice">
  <input type="submit" value="6" name="user_choice">
  <input type="submit" value="7" name="user_choice">
  <input type="submit" value="8" name="user_choice">
  <input type="submit" value="9" name="user_choice">
  <input type="submit" value="10" name="user_choice">
</form>
