body{
  background-color: pink;
  text-align: center;
  height: 800px;
  background-image: url(images/background2.jpg);
  background-size: cover;
}



.heading{
  margin: 150px auto 100px auto ;

}

.heading img {
  vertical-align: middle;

}

.searchFields{
  padding: 45px;
  margin: 100px auto;
  height: 30px;
  width: 300px;
  background-color: rgba(255,255,255,0.5);
}




.search .submit {
  padding: 150px auto;
}
