body{
  background-image: url(images/bg_body.jpg);
}



#bigImage{
  position:fixed;
  top:-50%;
  left: -50%;
  width: 200%;
  height:200%;
}

#bigImage img{
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin: auto;
  min-width: 50%;
  min-height: 50%
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav{

}
.home:hover {background-image: url(images/bg_nav_rollover.png);}
.about:hover {background-image: url(images/bg_nav_rollover.png);}
.services:hover {background-image: url(images/bg_nav_rollover.png);}
.blog:hover {background-image: url(images/bg_nav_rollover.png);}
.contact:hover {background-image: url(images/bg_nav_rollover.png);}


.columns{
  margin-left:25px;
  margin-right:25px;
  width:80%;
}

.logo{
  float:left;
}

#socialMedia{
  float:right;
}
