<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css">
  <title>IMDB Replica</title>
</head>
<body>

  <h1>IMDB 2.0</h1>

  <header>
  <div>
    <a href="/" class="home">Home</a>
  </div>
  </header>

<hr>
  <content>
    <%= yield %>
  </content>
<hr>

  <footer>
    Copyright to IMDB API
  </footer>
</body>
</html>
